<section class="experience-section">
  <h2>Experience</h2>
  <div class="timeline">
    <div
      class="timeline-item"
      *ngFor="let entry of experienceEntries; let i = index"
    >
      <div class="timeline-content">
        <img
          loading="lazy"
          [src]="entry.imageUrl"
          alt="{{ entry.title }} image"
          class="experience-image"
        />
        <div class="details">
          <h3>{{ entry.title }}</h3>
          <span class="year">{{ entry.year }}</span>
          <ul>
            <li *ngFor="let point of entry.description">{{ point }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
